.location {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.title {
  width: 488px;
  height: 32px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #101828;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  margin-bottom: 8px;
}

.id {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #8d929a;
}

.address {
  width: 488px;
  height: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #101828;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  margin-bottom: 16px;
}

.price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #3470ff;
  margin-bottom: 32px;
}

.description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #101828;
}
