.container {
  max-width: 1440px;

  width: 100%;

  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.hero {
  background-image: url("../../img/Desktop/Hero.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 72px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero {
    background-image: url("../../img/Desktop/Hero@2x.png");
  }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
  .hero {
    background-image: url("../../img/Desktop/Hero@3x.png");
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.heroText {
  width: 783px;
  height: 204px;
  margin-bottom: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
  color: white;
  margin-bottom: 16px;
}

.description {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

.styledButton {
  border-radius: 12px;
  padding: 12px 88px;
  width: 276px;
  height: 44px;
  background-color: #3470ff;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: white;
  cursor: pointer;
  text-align: center;
}

.styledButton:hover,
.styledButton:focus {
  background-color: #0b44cd;
}
