.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa; /* Світлий фон */
  border-bottom: 2px solid #ddd;
}

.logo {
  height: 50px;
}

.nav {
  display: flex;
  gap: 20px;
}

.navLink {
  text-decoration: none;
  font-size: 18px;
  color: #333;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navLink:hover {
  background-color: #007bff;
  color: white;
}
